body{
        font-family: 'Segoe UI', sans-serif;
        background: linear-gradient(135deg, #0f2027, #203a43, #2c7744);
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
#fodiv{
    margin-top: 200px;
}